* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(rgba(203, 196, 196, 0.5), rgba(0, 0, 5, 0.1));
}
nav {
  display: flex;
  padding: 2% 6%;
  height: 105px;
  justify-content: space-between;
  align-items: center;
  background-color: #8061a9;
  z-index: 1;
}
nav img {
  width: 120px;
  transition: 0.5s;
  border-radius: 10px;
}
nav img:hover {
  zoom: 1.5;
  border-radius: 25%;
}
.navbar {
  flex: 1;
  padding: 20px;
  right: 200px;
}
.navlinks {
  text-align: right;
  flex: 1;
}
.navlinks ul li {
  display: inline-block;
  padding: 8px 12px;
  position: relative;
  left: 20px;
  top: 4px;
  list-style: none;
}
.navlinks ul li a {
  color: #ffff;
  text-decoration: none;
  font-size: 1.2em;
  transition: 0.8s;
}
.navlinks ul li a:hover {
  text-decoration: overline;
  color: #ff523b;
  zoom: 1.1;
}
.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.sticky + .content {
  padding-top: 60px;
}
.btn {
  position: relative;
  display: block;
  margin-left: 90%;
  bottom: 0;
  width: 120px;
  height: 25px;
  display: flex;
  flex-direction: row;
  background: #1d1b1e;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  line-height: 1.2em;
  letter-spacing: 0.1em;
  font-size: 0.8em;
  transition: 0.5s;
  border-radius: 12px 5px;
}
.btn:hover {
  width: 140px;
  border-radius: 45%;
}
.btn a {
  color: #fff;
  text-decoration: none;
  text-align: center;
}
.header {
  min-height: 100vh;
  width: 100%;
  position: relative;
}

/* Slideshow container */
.header .slideshow-container {
  width: 100%;
  position: absolute;
  margin: auto;
  max-height: 100vh;
  object-fit: contain;
  object-position: center;
  align-items: center;
  justify-content: center;
}

/* Hide the images by default */
.mySlides {
  display: none;
}
.mySlides img {
  height: 50%;
  width: 100%;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.container {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 200px;
  align-self: center;
  align-content: center;
}

.row {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}
.col-2 {
  flex-basis: 50%;
  min-width: 100px;
}
.col-2 img {
  max-width: 100%;
  padding: 50px 0;
  border-radius: 50px;
  height: 750px;
  object-fit: cover;
}
.col-2 h1 {
  font-size: 50px;
  font-style: initial;
  font-weight: 600;
  width: 80%;
  height: 100px;
  text-align: center;
  line-height: 58px;
  letter-spacing: -0.02em;
  color: #3937a1;
  padding-left: 20%;
  -webkit-text-size-adjust: auto;
}

.col2-text {
  background-color: #fff;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 650px;
  padding-top: 52px;
  text-align: center;
  margin-top: 50px;
}
.col2-text p {
  font-size: 16px;
  font-weight: 600;
  line-height: 32px;
  padding: 10px;
  left: 20%;
  padding-top: 50px;
  text-align: center;
}
.btns {
  display: inline-block;
  background: #ff523b;
  color: #fff;
  padding: 8px 30px;
  margin-bottom: 40px;
  border-radius: 30px;
  transition: background 0.5s;
}
.btns:hover {
  background: #563434;
}
.facility {
  width: 80%;
  margin: auto;
  text-align: center;
  padding: 100px;
}
.facility-col {
  flex-basis: 31%;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: left;
}
.facility-col img {
  width: 100%;
  border-radius: 10px;
}
.facility-col p {
  padding: 0;
}
.facility-col h3 {
  margin-top: 16px;
  margin-bottom: 15px;
  text-align: left;
}
/*----- admission ----*/
.admission {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}
.admission h2 {
  font-size: 36px;
  font-weight: 600;
}

.admission p {
  color: #777;
  font-size: 20px;
  font-weight: 400;
  line-height: 22px;
  padding: 10px;
  left: 20%;
}

.row {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}
.col-3 {
  position: relative;
  /*background-color: #fafafa;*/
  justify-content: space-between;
  border-radius: 5%;
  margin-bottom: 5%;
  padding: 20px 13px;
  width: 100%;
  height: 300px;
  box-sizing: border-box;
  transition: 0.5;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.06);
  overflow: hidden;
}
.col-3 img {
  width: 100%;
  height: 300px;
  display: block;
  object-fit: cover;
  object-position: center center;
}
.col-3 h3 {
  font-size: 24px;
  line-height: 24px;
  font-style: normal;
  font-weight: 600px;
  color: #000000;
  margin-top: 18%;

  text-align: center;
}
.col-3:hover {
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

.layer1 {
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5;
}
.layer1:hover {
  background: rgba(186, 189, 191, 0.872);
}
.layer1 h3 {
  width: 100%;
  font-weight: 600;
  color: #000000;
  font-size: 26px;
  line-height: 24px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  opacity: 0;
  transition: 0.5s;
}
.layer1:hover h3 {
  left: 45%;
  top: 10%;
  opacity: 1;
}

@media (max-width: 1000px) {
  .row {
    flex-direction: column;
  }
  .col2-text,
  p {
    padding-top: 20px;
  }
}
/*-----events-----*/
.ppp {
  position: relative;
  width: 90%;
  height: 600px;
  border-radius: 5%;
  margin-bottom: 5%;
  padding: 20px 13px;
  background: rgba(251, 249, 255, 0.872);
}
.ppp img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 60px;
  flex-basis: 5%;
}
form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  background: linear-gradient(
    rgba(147, 142, 142, 0.5),
    rgba(120, 120, 142, 0.1)
  );
  height: 400px;
  border-radius: 50% 60%/20% 15%;
}
form .inputbox {
  position: relative;
  width: 225px;
  align-items: center;
  margin-top: 20px;
}
form .inputbox input {
  background: transparent;
  width: 100%;
  font-size: 1em;
  padding: 10px 15px;
}
form .inputbox [type="submit"] {
  outline: none;
  border: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.12em;
  cursor: pointer;
  letter-spacing: 0.1em;
  font-weight: 550;
}
form .inputbox:last-child {
  width: 150px;
  background: #f71111;
  box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.1),
    15px 15px 10px rgba(0, 0, 0, 0.05), 15px 10px 15px rgba(0, 0, 0, 0.025);
  transition: 0.5s;
}
/*-----testimonial-----*/
.testimonial {
  width: 80%;
  margin: auto;
  padding-top: 100px;
  text-align: center;
}
.testimonial-col {
  flex-basis: 44%;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: left;
  background: #fff3f3;
  padding: 25px;
  cursor: pointer;
  display: flex;
}
footer {
  width: 100%;
  position: relative;
  bottom: 0;
  background: linear-gradient(to right, #00093c, #2d0b00);
  color: #fff;
  padding: 100px 0 30px;
  border-top-left-radius: 125px;
  font-size: 13px;
  line-height: 20px;
}
.row2 {
  width: 85%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}
.col {
  flex-basis: 25%;
  padding: 10px;
}
.icons .fa {
  color: #ea0c0c;
  margin: 0 13px;
  cursor: pointer;
  padding: 18px 0;
}
.lng {
  position: relative;
  height: 70px;
  border-radius: 8px;
  margin-left: 25px;
}
